/* Stiziles */

html, body {
  background-color: #fff !important;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* main */

.main {

}

#wrapper{
  padding-left: 250px;
  transition: 'padding-left' 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  transition: all 0.4s ease 0s;
  overflow-y:auto;
  background-color: #222;
  color: #aaa !important;
  z-index: 1;
}

#page-content-wrapper {
  width: 100%;
  overflow-x:hidden;
  padding-left: 40px;
  padding-top:40px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;

}

#footer{
  position: fixed;
  width: 100%;
  height:20px;
  line-height: 20px;
  bottom:0;
  background-color: white;
  font-size: 12px;
  text-align: center;
  z-index: -0;


}

#adminmode{
    font-weight: bold;
}


@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}



#loginForm{

  display: block;
  height:250px;
  width:330px;
  
  position: fixed;
  
  /* css3 drop shadow */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
  /* css3 border radius */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  background:#eee;
  padding:20px;
  left:50%;
  top:50%;

  margin-left:-165px;
  margin-top: -125px;
  opacity: 0;
 
  z-index: -10;   
}

.animate_opacity{
   -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s  ease-in-out;
  -ms-transition: opacity 0.3s  ease-in-out;
  -o-transition: opacity 0.3s  ease-in-out;
  transition: opacity 0.3s  ease-in-out;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}




/* stuff */

.hidden{
  visibility: hidden !important;
}

.img-responsive{
  width: 75%;
  height: auto;
}


