.MItem {
//  border: 1px dashed #f00;
}


.valid{
	display:block;
	overflow:hidden;
}

.valid:hover{
	//background-color:#ccc;
}


.invalid:hover{
	//background-color: #ccc;
}


.invalid{
	display:block;
	height:40px;
	overflow:hidden;
}
.editor{
	width:75%;
	padding:20px;
	textarea{
		resize:vertical;
	}

}

.title{
	margin-top:20px;
	margin-bottom: 20px;
	width: 90%;
	padding: 0 !important;
}



.picture{
	height:100%;
}


.loggedIn img{  
}