.MLogin {
	margin-top:20px;
}

.MLogin .loginForm{
	z-index:1;
  height:250px;
  width:330px;
  opacity: 0;
  position: absolute;
  background-color: #ccc;
  padding:20px;
  border: 2px solid #ccc;
  border-radius: 15px;
  left:50vw;
  top:50vh;
  margin-left:-125px;
  margin-top: -125px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
    

}

