@import 'settings';

$nav-item-height: 20px;

.MNavigation{

}	

.nav li{
	background-color: $sidebar-background;
}

.nav li a{
	height:$nav-item-height;
	line-height:$nav-item-height;
	padding-left:20px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-right:0;
}

.nav li a:hover{
	background-color: white !important;
}

.active{
	background-color: $activelink-background;
	color: white;
}

.nav li a:visited{
	font-weight:bold !important;
}

li.category{
	padding-top:20px;
	background-color:$category-background !important;
}

.categoryContainer{
	padding-left:15px;
	height:40px;

}
.glyphicon{
	z-index:10;
	float:right;
	margin-right:20px;		
}

.glyphicon:hover{
	cursor: pointer;
}

.placeholder { 
    border: 1px dashed #fff;
}

