$nav-item-height: 20px;

.MNavigation{
}

.nav li a{
	height:$nav-item-height;
	line-height:$nav-item-height;
	padding-left:20px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-right:0;
}
.active{
	background-color: #333;
	color: white;
}

.nav li a:visited{
	font-weight:bold !important;
}

.category{
	padding-left:15px;
	padding-top:20px;

}

