.MTitle {
	
 // border: 1px dashed #f00;
 margin-left:15px;
 margin-top:20px;
 margin-bottom:20px;

	h1, h2,h3,h4,h5,h6{
		color:white !important;
		margin-top:0;
		margin-bottom:7px !important;
		margin-left:0;
		margin-right:0;
	}


}

